
.listgroup{
	display: flex;
	flex-direction: row;
	justify-content:center;
	flex-wrap: wrap;
}


.listitem{
	text-align: center;
	width: 45vw;
	font-size: 30px;
	margin: .5vw;
}

.header{
	position: relative;
	top:0px;
	color: red;
	width: 100%;
	margin: 0px;
	height: 7vw;
	background-color: black;

}

.footer{
	margin: 0px;
   position:fixed;
   bottom:0px;
   height:7vw;
   width:100%;
	 background-color: black;
}


.bodyContainer{
	color: black;
	background-color: white;
	height: 60vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.interpretationbox{
	margin-left: 12vw;
	margin-right: 12vw;
	height: 15vw;
}

.negativeSpace{
	background-color: #00BE82;
	height: 60vw;
	margin: 0;
	opacity: .5;
}

h1, h2{
	text-align: center;
	color: black;
 }
h1{
	margin: 0
}
