
.listgroup{
	display: flex;
	flex-direction: row;
	justify-content:center;
	flex-wrap: wrap;
	color: black;
}


.listitem{
	text-align: center;
	width: 45vw;
	font-size: 30px;
	margin: .5vw;
	color: black;
}

.header{
	position: fixed;
	top:0px;
	width: 100%;
	margin: 0px;
	height: 7vw;
	background-color: rgb(134, 206, 183);
	border-color: rgb(134, 206, 183);
	z-index: 1;
}

.footer{
	margin: 0px;
  position:fixed;
 	bottom:0px;
  height:7vw;
 	width:100%;
 	background-color: rgb(134, 206, 183)
}

.bodyContainer{
	color: black;
	background-color: white;
	height: 100vw;
	margin-top: 7vw;
	margin-left: 13vw;
	margin-right: 13vw;
}

.interpretationbox{
	margin-left: 15vw;
	margin-right: 15vw;
	height: 15vw;
}

.negativeSpace{
	background-color: lightgray;
	height: 100vw;
	margin: 0;

}

h1, h2{
	text-align: center;
	color: black;
 }
h1{
	margin: 0;
	margin-bottom: 2vw;
}

p{
	font-size: 20px;
}

.quoteIntBox{
	display: flex;
	justify-content: space-between;
}

.about{
	margin-left: 20vw;
	margin-right: 20vw;
}
